body{
    background-color: black;
}

.container div {
    background-color: #8b4300;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    border-radius: 1rem;
}

.container div img {
    border-radius: 1rem;
    margin: 2rem;
    height: 20rem;
    width: 20rem;
}

.container p{
    color: aliceblue;
    font-size: 1.5rem;
}

.title{
    color: azure;
}

